.contact header {
    @include header("../assets/contact-image-1.jpg"); 
        nav {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
                .mainNav {
                    display: flex;
                    width: 40%;
                    justify-content: space-between;
                        a {
                            color: $iceBlue;
                            text-transform: uppercase;
                            font-weight: bold;
                            line-height: 29px;
                            letter-spacing: 1px;
                                &:hover {
                                    color: $primaryColor;
                                }
                        }
                }
        }
}

.contact header li:last-child a {
    color: $primaryColor;
}
