.blog header {
    @include header("../assets/blog-image-1.jpg"); 
        nav {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
                ul {
                    display: flex;
                    width: 40%;
                    justify-content: space-between;
                        a {
                            color: $iceBlue;
                            text-transform: uppercase;
                            font-weight: bold;
                            line-height: 29px;
                            letter-spacing: 1px;
                        }
                }
        }
}

.blog header li:nth-child(3) a {
    color: $primaryColor;
}
