@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  font-family: "Lato", sans-serif;
}

.wrapper {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 {
  color: #fafffe;
  font-weight: bold;
  font-size: 4.35rem;
  letter-spacing: 0.45rem;
  padding: 180px 0;
}

h3 {
  color: #0C5F4C;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 2.95rem;
  letter-spacing: 0.19rem;
}

h4 {
  color: #063974;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 2.9rem;
  letter-spacing: 0.19rem;
}

h5 {
  color: #0C5F4C;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.9rem;
  letter-spacing: 0.16rem;
}

nav h6 {
  font-family: "Playfair Display SC", serif;
  font-size: 1.73rem;
  color: #50e3c2;
}

p {
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}

.button {
  background: #063974;
  color: #fafffe;
  padding: 10px 10px;
  margin-top: 25px;
  font-family: "Playfair Display SC", serif;
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
}

::-webkit-input-placeholder {
  font-weight: 300;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}

::-moz-placeholder {
  font-weight: 300;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}

:-ms-input-placeholder {
  font-weight: 300;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}

::-ms-input-placeholder {
  font-weight: 300;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}

::placeholder {
  font-weight: 300;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}

footer {
  background: black;
  color: #fafffe;
  text-align: center;
}
footer p {
  margin: 0;
}

.home header {
  background-image: url("../assets/home-image-1.jpg");
  height: 90vh;
  background-size: cover;
  position: relative;
}
.home header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
.home header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home header nav ul a {
  color: #fafffe;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 29px;
  letter-spacing: 1px;
}

.home header li:first-child a {
  color: #50e3c2;
}

.h1Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-size: 3.1rem;
  font-weight: bold;
  color: #0C5F4C;
  line-height: 58px;
  letter-spacing: 6.7px;
  text-transform: lowercase;
  z-index: 10;
}
h1 span {
  display: block;
  font-family: "Playfair Display SC", serif;
  font-size: 5.56rem;
  color: #063974;
  padding-top: 10px;
}

.headerBox {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 200px;
}

.visitGuyana {
  background: #fafffe;
}
.visitGuyana p {
  margin: 25px 0;
}

.visitGuyana .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 250px 0;
}

.VGtextContainer {
  width: 60%;
}

.VGimage {
  -webkit-box-shadow: -20px 20px #50e3c2;
          box-shadow: -20px 20px #50e3c2;
  width: 350px;
  height: 350px;
}

.imageGallery {
  background: #d2f9f1;
  height: 75vh;
}
.imageGallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75vh;
}
.imageGallery ul li {
  width: 30%;
}

.information {
  background: #fafffe;
}
.information .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0;
}

.beachHouses,
.community,
.infoBlog,
.getInTouch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 25px;
}
.beachHouses i,
.community i,
.infoBlog i,
.getInTouch i {
  font-size: 1.5rem;
  color: #fafffe;
  background: #50e3c2;
  border-radius: 50%;
}

.icon {
  width: 15%;
}
.icon .fas {
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text {
  width: 85%;
}

.planAhead {
  background: #d2f9f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
}
.planAhead p {
  margin: 25px 0;
}

.PAimageContainer,
.PAtextContainer {
  width: calc(50% - 100px);
  margin-right: 50px;
}

.PAimageContainer {
  position: relative;
}
.PAimageContainer img {
  position: absolute;
  top: -200px;
  -webkit-box-shadow: 20px 20px #50e3c2;
          box-shadow: 20px 20px #50e3c2;
}

.newLocations {
  background: #d2f9f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
}

.NLtextContainer,
.NLimageContainer {
  width: calc(50% - 100px);
  margin-left: 50px;
}

.NLimageContainer {
  position: relative;
}
.NLimageContainer img {
  position: absolute;
  top: -200px;
  right: 0px;
  -webkit-box-shadow: -20px 20px #50e3c2;
          box-shadow: -20px 20px #50e3c2;
}

.NLtextContainer {
  text-align: right;
}
.NLtextContainer p {
  margin: 25px 0;
}

.free {
  background: #fafffe;
}
.free .wrapper {
  text-align: center;
  padding: 100px;
}
.free .wrapper h4 {
  color: #0C5F4C;
}
.free .wrapper p {
  margin: 25px 0;
}

.blog header {
  background-image: url("../assets/blog-image-1.jpg");
  height: 90vh;
  background-size: cover;
}
.blog header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
.blog header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog header nav ul a {
  color: #fafffe;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 29px;
  letter-spacing: 1px;
}

.blog header li:nth-child(3) a {
  color: #50e3c2;
}

.blog main {
  background: #fafffe;
}

.blogFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

article {
  position: relative;
  width: 60%;
  border-width: 0 5px 5px 0;
  border-style: solid;
  border-color: #50e3c2;
}
article img {
  -webkit-box-shadow: 20px 20px #50e3c2;
          box-shadow: 20px 20px #50e3c2;
  position: absolute;
  top: -150px;
  left: -15px;
}

.articleText {
  padding: 425px 50px 50px 30px;
  margin-left: 75px;
}
.articleText p {
  margin: 25px 0;
}
.articleText p:first-of-type {
  margin: 0 auto;
  color: #063974;
  font-style: italic;
}
.articleText p:first-of-type span {
  font-weight: bold;
}

.blog article h4 {
  color: #0C5F4C;
}

.blog aside {
  width: 25%;
  padding-top: 100px;
}
.blog aside p:nth-of-type(odd) {
  color: #063974;
  font-size: 1.25rem;
}
.blog aside ul {
  padding-left: 10px;
  color: #50e3c2;
}
.blog aside ul li {
  color: black;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}
.blog aside ul li::before {
  content: "•";
  color: #50e3c2;
  padding: 10px;
}

aside p {
  margin: 25px 0;
}
aside p a {
  display: block;
  font-weight: bold;
  color: #0C5F4C;
}

.comment1,
.comment2 {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
}

.c1imageContainer,
.c2imageContainer {
  width: 20%;
}

.c1textContainer,
.c2textContainer {
  width: 80%;
}

.comments {
  padding: 50px 0;
}
.comments h5 {
  font-family: "Josefin Sans", sans-serif;
  color: black;
  width: 60%;
}

.comments p:first-child {
  color: #063974;
  font-weight: bold;
  padding-bottom: 10px;
}

.blog .commentForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
}
.blog .commentForm input[type=text],
.blog .commentForm input[type=email] {
  width: 45%;
  padding: 20px 40px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 2px solid #50e3c2;
  margin-bottom: 30px;
}
.blog .commentForm textarea,
.blog .commentForm button {
  width: 100%;
}
.blog .commentForm textarea {
  resize: none;
  border: 2px solid #50e3c2;
  padding: 75px 40px;
}

.contact header {
  background-image: url("../assets/contact-image-1.jpg");
  height: 90vh;
  background-size: cover;
}
.contact header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
.contact header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact header nav ul a {
  color: #fafffe;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 29px;
  letter-spacing: 1px;
}

.contact header li:last-child a {
  color: #50e3c2;
}

.contact main {
  background: #fafffe;
  height: 80vh;
}

.contact .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact .flexContainer section {
  width: 70%;
  position: relative;
}
.contact .flexContainer aside {
  width: 20%;
  padding-top: 75px;
}

.contact .commentForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 75px;
  -webkit-box-shadow: 20px 20px #50e3c2;
          box-shadow: 20px 20px #50e3c2;
  background: #fafffe;
  position: absolute;
  top: -150px;
  left: -70px;
}
.contact .commentForm input[type=text],
.contact .commentForm input[type=email] {
  width: 45%;
  padding: 20px 40px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 2px solid #50e3c2;
  margin-bottom: 30px;
}
.contact .commentForm textarea,
.contact .commentForm button {
  width: 100%;
}
.contact .commentForm textarea {
  resize: none;
  border: 2px solid #50e3c2;
  padding: 40px 40px;
  height: 200px;
}

.contact aside a {
  color: black;
}
.contact aside a i {
  padding-right: 20px;
}

.contact aside p:first-of-type {
  font-size: 1.2rem;
  margin-top: 20px;
  font-weight: bold;
}